{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <title>Tasks</title>#}
{#</head>#}
{#<body>#}

{% extends "tasks/layout.html" %} {# This is known as 'Template Inheritance' #}

{% block body %}
    <h1>Add Task</h1>
    <form action="{% url 'tasks:add' %}" method="post">
        {% csrf_token %}
        {# By adding this token error(403 -> Not having the permission to perform the task) is ignored or removed. #}
        {# It is a type of token which already built in Django and which allows us to make our page to submit or accept anything entered by the user.#}

        {#        <input type="text" name="task"> #} {# Alternative method below -----> #}
        {{ form }}
        {# Intead Of writting the html tag by ourselves (like above), we pluggin the form which will automatically generate a html code for us #}
        <input type="submit">
    </form>
    {#    <a href="{% url 'index' %}">View Tasks</a>#}
    {# This url 'index' will link to index.html file inside the newyear directory, which we don't want.  #}
    {# Hence there will be a namespace collision #}
    {# A namespace collision happens when two urls in different directories have same name inside their urls.py file #}
    <a href="{% url 'tasks:index' %}">View Tasks</a>
{% endblock %}

{#</body>#}
{#</html>#}