{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <title>Tasks</title>#}
{#</head>#}
{#<body>#}

{% extends "tasks/layout.html" %} {# This is known as 'Template Inheritance' #}

{% block body %}
    <h1>Add Task</h1>
    <form action="{% url 'tasks:add' %}" method="post">
        <input type="text" name="task">
        <input type="submit">
    </form>
    {#    <a href="{% url 'index' %}">View Tasks</a>#}
    {# This url 'index' will link to index.html file inside the newyear directory, which we don't want.  #}
    {# Hence there will be a namespace collision #}
    {# A namespace collision happens when two urls in different directories have same name inside their urls.py file #}
    <a href="{% url 'tasks:index' %}">View Tasks</a>
{% endblock %}

{#</body>#}
{#</html>#}