{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <title>Tasks</title>#}
{#</head>#}
{#<body>#}

{% extends "tasks/layout.html" %} {# This is known as 'Template Inheritance' #}

{% block body %}
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>  {# Created a list for each task present inside of the tasks variable.#}
        {% endfor %}
    </ul>
    <a href="{% url 'add' %}">Add a New Task</a> {#Inspite of providing a physical link #}
    {#    Here we are using a Django feature to link a page by using the name of the url specified in urls.py file for that particular file or page. #}
{% endblock %}

{#</body>#}
{#</html>#}